
<form>
  <div class="form-group">
    <label for="year">Year</label>
    <input class="form-control" id="year" placeholder="Year" [(ngModel)]="unit.Year" value="{{unit.Year}}" >
  </div>
  <div class="form-group">
    <label for="make">Make</label>
    <input class="form-control" id="make" placeholder="Make" [(ngModel)]="unit.Make">
  </div>
  <div class="form-group">
    <label for="model">Model</label>
    <input class="form-control" id="model" placeholder="Model" [(ngModel)]="unit.Model">
  </div>
  <div class="form-group">
    <label for="createdOn">Created On</label>
    <input class="form-control" id="createdOn" disabled="disabled" placeholder="Create On" [(ngModel)]="unit.CreatedOn">
  </div>
 
  <button type="submit" class="btn btn-default">Save</button>
  <button type="button" class="btn btn-default">Cancel</button>
</form>