
<md-progress-linear mode="indeterminate" [hidden]="!loading" ></md-progress-linear>

<h2>Unit Form</h2>
<form (ngSubmit)="onSubmit()" #unitForm="ngForm" > 
    <div layout="row" 
             layout-wrap 
             layout-align="center start"
            >            
        <div flex="33" layout="column" flex-xs="100">
            <div class="form-group">
                <label for="unitNumber">Unit Number</label>
                <input class="form-control" id="unitNumber" required [(ngModel)]="unit.unitNumber" ngControl="unitNumber" #unitNumber="ngForm">                
            </div>       
        </div>  
        <div flex="33" layout="column" flex-xs="100">
            <div class="form-group">
                <label for="division">Division</label>
                <select class="form-control"  required ngControl="unitStatus" (change)="onDivisionChange($event.target.value)" >
                    <option *ngFor="#us of statuses" [value]="us"  >
                        {{us}}
                    </option>
                </select>                                
            </div>               
        </div>  
        <div flex="33" layout="column" flex-xs="100">
            <div class="form-group">
                <label for="unitStatus">Status</label>
                <select class="form-control"  required ngControl="unitStatus" (change)="onStatusChange($event.target.value)" >
                    <option *ngFor="#us of statuses" [value]="us"  >
                        {{us}}
                    </option>
                </select>                                
            </div>               
        </div>  
    </div>
    
    <div layout="row" layout-wrap layout-align="center start" >            
        <div flex="33" layout="column" flex-xs="100">
            <div class="form-group">
                <label for="year">Year</label>
                <input class="form-control" id="year" [(ngModel)]="unit.year" ngControl="year" #year="ngForm">                
            </div>     
        </div>  
        <div flex="34" layout="column" flex-xs="100">
            <div class="form-group">
                <label for="make">Make</label>
                <input class="form-control" id="make" placeholder="Make of Unit" [(ngModel)]="unit.make" ngControl="make" #make="ngForm">                
            </div>      
        </div>  
        <div flex="33" layout="column" flex-xs="100">
            <div class="form-group">
                <label for="model">Model</label>
                <input class="form-control" id="model" placeholder="Model of Unit" [(ngModel)]="unit.model" ngControl="model" #model="ngForm">                
            </div>   
        </div>  
    </div>
    
    <div layout="row" 
             layout-wrap 
             layout-align="center start"
            >            
        <div flex="33" layout="column" flex-xs="100">
            <div class="form-group">
                <label for="trim">Trim</label>
                <input class="form-control" id="trim" placeholder="Trim" [(ngModel)]="unit.trim" ngControl="trim"  >
            </div> 
        </div>  
        <div flex="34" layout="column" flex-xs="100">
            <div class="form-group">
                <label for="vin">VIN</label>
                <input class="form-control" id="vin" placeholder="VIN" [(ngModel)]="unit.vin" ngControl="vin" >
            </div>   
        </div>  
        <div flex="33" layout="column" flex-xs="100">
            <div class="form-group">
                <label for="isPoolUnit">Is Pool Unit</label>
                <input type="checkbox" class="form-control" id="isPoolUnit" [(ngModel)]="unit.isPoolUnit" ngControl="isPoolUnit"  >
            </div>
        </div>  
    </div>
    
    <div layout="row" 
             layout-wrap 
             layout-align="center start"             
            >            
        <div flex="33" layout="column" flex-xs="100">
            <div class="form-group">
                <label for="inServiceDate">In Service Date</label>
                <input  class="form-control" id="inServiceDate"  [(ngModel)]="unit.inServiceDate" ngControl="inServiceDate" >
            </div>
        </div>  
        <div flex="34" layout="column" flex-xs="100">
            <div class="form-group">
                <label for="costCenter">Cost Center</label>
                <input class="form-control" id="costCenter"  [(ngModel)]="unit.costCenter" ngControl="costCenter">
            </div>    
        </div>  
        <div flex="33" layout="column" flex-xs="100">
            <div class="form-group">
                <label for="factoryStock">Factory Stock</label>
                <input type="checkbox" class="form-control" id="factoryStock" ngControl="facetoryStock" >
            </div>
        </div>  
    </div>                                                
    <button type="submit" class="btn btn-success" [disabled]="!unitForm.form.valid">Submit</button>
</form>