@import  '../../assets/scss/main.scss';

#unitservices-stage{
    
    div.sidebar{                
        max-width: 300px;      
        margin: 10px; 
        margin-left: 5px;
    }
    
    div.mainstage{
        color: white;     
        margin: 10px;             
    }
}