
    <table >
        <tr>
            <td>
                #
            </td>
            <td >
                Year
            </td>
            <td>
                Make
            </td>
            <td>
                Model
            </td>
            <td>
                Created
            </td>
        </tr>
        <tr *ngFor="#unit of units"
            (onclick)="onSelect(unit)" >
            <td >
                {{unit.unitNumber}}
            </td>        
            <td>
                {{unit.year}}
            </td>
            <td>
                {{unit.make}}
            </td>
            <td>
                {{unit.model}}
            </td>
            <td>
                {{unit.createdOn}}
            </td>
        </tr>                  
    </table>
    
    