<md-card>    
    <md-toolbar>
        <div class="md-toolbar-tools">       
        <h2>
            <span>Unit Inventory</span>
        </h2>
        <span flex></span>
         <button md-button class="md-icon-button" aria-label="Search" (click)="onSearch()">
            <i class="green" md-icon>search</i>
        </button>  
        <button md-button class="md-icon-button" aria-label="Add" (click)="onAdd()">
            <i class="green" md-icon>add</i>
        </button>     
        </div>
    </md-toolbar>
    <md-card-content >
        <div class="table-container">            
        </div>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
        
    </md-card-actions>
</md-card> 