<header  >    
</header>
<md-content class="md-padding" 
            layout="row" 
            layout-wrap 
            layout-align="center start"
            >
            
  <div flex="30" layout="column" flex-xs="100">
        <span>Home Page Sidebar</span>
        <md-list>
            <md-subheader class="md-no-sticky">3 line item</md-subheader>
            <md-list-item class="md-3-line" *ngFor="#item of todos; #index = index">
                <img [src]="item.face+'?'+index" class="md-avatar" alt="{{item.who}}"/>
                <div class="md-list-item-text" layout="column">
                <h3>{{ item.who }}</h3>
                <h4>{{ item.what }}</h4>
                <p>{{ item.notes }}</p>
                </div>
            </md-list-item>
         </md-list>             
  </div>
  <div flex="70" layout="column" flex-xs="100">
    <h1> Main stage</h1>
    <md-card>      
      <md-card-actions layout="row" layout-align="end center">
        <button md-button class="md-icon-button" aria-label="Favorite">
          <i md-icon>favorite</i>
        </button>
        <button md-button class="md-icon-button" aria-label="Settings">
          <i md-icon>menu</i>
        </button>
        <button md-button class="md-icon-button" aria-label="Share">
          <i md-icon>share_arrow</i>
        </button>
      </md-card-actions>
    </md-card>    
    <md-card>
      <md-card-header>        
        <md-card-header-text>
          <span class="md-title">Unit Maintenance</span>
          <span class="md-subhead">Maintenance Report</span>
        </md-card-header-text>
      </md-card-header>      
      <md-card-content>
            <p>
                This is a card that will be used to display unit maintenance rollup information.
            </p>
      </md-card-content>
    </md-card>
  </div>
</md-content>