<md-card>    
    <md-toolbar>
        <div class="md-toolbar-tools">       
        <h2>
            <span>Unit Details</span>
        </h2>
        <span flex></span>
       
        <button md-button class="md-icon-button" aria-label="Delete" (click)="onDelete()">
            <i md-icon>delete</i>
        </button>     
        </div>
    </md-toolbar>
    <md-card-content >
        <div class="table-container">
            <unit-detail-form></unit-detail-form>
        </div>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
        <button md-raised-button class="md-primary" (click)="onSave($event)" flex="auto">
            Save
        </button>
        <button md-raised-button class="md-primary" (click)="onCancel($event)" flex="auto">
            Cancel
        </button>
    </md-card-actions>
</md-card> 