
 


<md-card>    
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Units</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content >
        <div class="table-container">
            <unit-table ></unit-table>
        </div>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
        <button md-button class="md-icon-button" aria-label="add">
            <i md-icon>add</i>
        </button>   
    </md-card-actions>
</md-card> 