  
  
  
<md-content class="md-padding" layout="row" layout-wrap layout-align="center start">
    <div layout="column" flex="50" flex-xs="100" >
        <md-card>                        
            <md-card-header>
                <md-card-avatar>
                <svg viewBox="0 0 24 24">
                    <path d="M21,11C21,16.55 17.16,21.74 12,23C6.84,21.74 3,16.55 3,11V5L12,1L21,5V11M12,21C15.75,20 19,15.54 19,11.22V6.3L12,3.18L5,6.3V11.22C5,15.54 8.25,20 12,21Z" />
                </svg>
                </md-card-avatar>
                <md-card-header-text>
                <span class="md-title">Summit Solutions</span>
                <span class="md-subhead">Login</span>
                </md-card-header-text>
            </md-card-header>    
                    
            <md-card-content>
                <form [ngFormModel]="loginForm"
                      (ngSubmit)="onSubmit(loginForm.value)" >
                    <md-input-container class="md-block">
                        <label for="customerName">Customer Name</label>
                        <input md-input 
                               ngControl="customerName" 
                               id="customerName" 
                               [(value)]="credentials.customerName">
                        <div md-messages="customerName">
                            <div md-message="required">This is required.</div>
                            <div md-message="maxlength">The customer name has to be less than 50 characters long.</div>
                        </div>
                    </md-input-container>      
                    <md-input-container class="md-block">
                        <label for="email">Email</label>
                        <input md-input 
                               type="email" 
                               ngControl="email" 
                               id="email" 
                               [(value)]="credentials.email" />
                        <div md-messages="email" role="alert">
                        <div md-message>Your email must be between 10 and 100 characters long and look like an e-mail address.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label for="password">Password</label>
                        <input md-input 
                               type="password" 
                               ngControl="password" 
                               id="password" 
                               [(value)]="credentials.password" />
                        <div md-messages="password" role="alert">
                        <div md-message>Password expresion that requires one lower case letter, one upper case letter, one digit, 6-13 length, and no spaces.</div>
                        </div>
                    </md-input-container>      
                    <button type="submit"
                            md-raised-button                                                                                            
                            class="md-raised md-success signin-button">Sign In</button>
                </form>
            </md-card-content>      
        </md-card>
    </div>
</md-content>