
md-toolbar[md-hero] {
  margin-bottom: 40px;
}

.secret-project {
  width: 256px;
  height: 256px;
  fill: white;
}
@import './../../../assets/scss/main';

[md-button] [md-icon] {
  color: rgba(0,0,0,0.8);
}

button.signin-button {
    width:100%;   
}

.secret-project {
  width: 256px;
  height: 256px;
  font-size: 256px;
  color: md-color($md-primary,900,0.6);
}
md-toolbar[md-hero] {
  margin-bottom: 40px;
}
md-input-container > select {
  margin: 0;
  order: 2;
  display: flex;
}

