


<md-list>
    <md-subheader class="md-no-sticky">Unit Services</md-subheader>
    <md-list-item class='' >
        <a [routerLink]=" ['UnitDashboard']" >
            <span class="fa fa-bar-chart" aria-hidden="true">
                <span class="hidden-xs"> Overview</span>
            </span>
        </a>
    </md-list-item>
    
    <md-list-item >
        <a [routerLink]=" ['Units']" > 
            <span class="fa fa-list-alt" aria-hidden="true">
                <span class="hidden-xs"> Units</span>
            </span>
        </a>
    </md-list-item>            
</md-list> 
