
<form (ngSubmit)="onSubmit(loginForm.value)" #loginForm="ngForm">  
    <div layout="row" 
             layout-wrap 
             layout-align="center start"
            >                    
        <div flex="100" layout="column" flex-xs="100">
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" id="email" type="email" required [(ngModel)]="credentials.email" ngControl="email" #email="ngForm">                
            </div>       
        </div>  
    </div>   
    <div layout="row" 
             layout-wrap 
             layout-align="center start"
            >                    
        <div flex="100" layout="column" flex-xs="100">
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" id="password" type="password" required [(ngModel)]="credentials.password" ngControl="password" #password="ngForm">               
            </div>       
        </div>  
    </div>     
    <button type="submit"class="btn btn-success" [disabled]="!loginForm.form.valid" >Sign In</button>             
</form>
